label.check {
    cursor: pointer
}

label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.check span {
    padding: 2px 30px;
    border: 2px solid #008000;
    display: inline-block;
    color: #008000;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center
}

label.check input:checked+span {
    border-color: #008000;
    background-color: #008000;
    color: #fff;
}
label.check input:disabled+span {
    border-color: #FF0000;
    background-color: #FF0000;
    color: #fff;
}
.wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(5, 60px);
    grid-template-columns: repeat(5, 100px);
    grid-auto-flow: row;
    margin-left: 230px
}
.box {
    font-size: 100%;
}

.btnCenter {
    margin-left: 503px;
    margin-top: 50px
}

.forh4 {
    color: green;
    margin-top: 13px
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    color: #FF0000;
}